﻿@using SimpleBankApp.Models
@model SimpleBankApp.Models.ClientsAccountModel

@{
    ViewBag.Title = "SimpleBankApp › Account's details";
}

<h2>› @Html.DisplayFor(model => model.ProductType.ProductTypeName) (@Html.DisplayFor(model => model.ProductType.ProductTypeShort))</h2>

<div>
    <hr />
    <h4>Details</h4>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.AccountId)</dt>
        <dd>@Html.DisplayFor(model => model.AccountId)</dd>

        <dt>@Html.DisplayNameFor(model => model.AccountNumber)</dt>
        <dd>@Html.DisplayFor(model => model.AccountNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.AccountBalance)</dt>
        <dd>@Html.DisplayFor(model => model.AccountBalance)</dd>

        <dt>@Html.DisplayNameFor(model => model.Currency)</dt>
        <dd>@Html.DisplayFor(model => model.Currency.CurrencyName)<span>, </span>@Html.DisplayFor(model => model.Currency.CurrencyShort)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProductType)</dt>
        <dd>@Html.DisplayFor(model => model.ProductType.ProductTypeName)<span>, </span>@Html.DisplayFor(model => model.ProductType.ProductTypeShort)</dd>

        <dt>@Html.DisplayNameFor(model => model.OpeningDate)</dt>
        <dd>@Html.DisplayFor(model => model.OpeningDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.ClosureDate)</dt>
        <dd>
            @if (@Model.ClosureDate == DateTime.MinValue)
            {
                <span>-</span>
            }
            else
            {
                @Html.DisplayFor(model => model.ClosureDate)
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.IsActive)</dt>
        <dd>@Html.DisplayFor(model => model.IsActive)</dd>

        <dt>@Html.DisplayNameFor(model => model.Clients)</dt>
        @for (int i = 0; i < Model.Clients.Count; i++)
        {
            <dd>
                @(i + 1).
                @Html.DisplayFor(model => Model.Clients[i].FirstName)
                @Html.DisplayFor(model => Model.Clients[i].Surname),
                <span>PESEL: </span>@Html.DisplayFor(model => Model.Clients[i].Pesel),
                <strong>@Html.DisplayFor(model => Model.Clients[i].Role.RoleName)</strong>
            </dd>
        }
    </dl>
</div>

<div>
    @Html.ActionLink("‹ Back to List", "Index", "Account", new { @class = "btn btn-default" })
    @Html.ActionLink("Transactions ›", "Transactions", new { accountId = @Model.AccountId }, new { @class = "btn btn-default" })
</div>