﻿@model IEnumerable<SimpleBankApp.Models.ClientsAccountModel>

@{
    ViewBag.Title = "SimpleBankApp › Accounts";
}

<h2 class="text-center">Accounts</h2>
<hr />
<div class="table-responsive">
    <table class="table table-striped accounts-table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.AccountId)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ProductType.ProductTypeShort)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.OpeningDate)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Currency.CurrencyShort)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ClosureDate)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.IsActive)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AccountId)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductType.ProductTypeShort)</td>
                    <td>@Html.DisplayFor(modelItem => item.OpeningDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Currency.CurrencyShort)</td>
                    <td>
                        @if (@item.ClosureDate == DateTime.MinValue)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ClosureDate)
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                    <td>
                        @Html.ActionLink("Details ›", "Details", new { accountId = item.AccountId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>