﻿@using SimpleBankApp.Models
@model SimpleBankApp.Models.ClientsAccountModel

@{
    ViewBag.Title = "SimpleBankApp › Transaction";
}

<h2>Transactions</h2>

<div>
    <hr />
    <h4>Account details</h4>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.AccountNumber)</dt>
        <dd>@Html.DisplayFor(model => model.AccountNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.AccountBalance)</dt>
        <dd>@Html.DisplayFor(model => model.AccountBalance)</dd>

        <dt>@Html.DisplayNameFor(model => model.Currency)</dt>
        <dd>@Html.DisplayFor(model => model.Currency.CurrencyName)<span>, </span>@Html.DisplayFor(model => model.Currency.CurrencyShort)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProductType)</dt>
        <dd>@Html.DisplayFor(model => model.ProductType.ProductTypeName)<span>, </span>@Html.DisplayFor(model => model.ProductType.ProductTypeShort)</dd>

        <dt>@Html.DisplayNameFor(model => model.OpeningDate)</dt>
        <dd>@Html.DisplayFor(model => model.OpeningDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.ClosureDate)</dt>
        <dd>@Html.DisplayFor(model => model.ClosureDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.IsActive)</dt>
        <dd>@Html.DisplayFor(model => model.IsActive)</dd>
    </dl>

    <hr />
    <h4>@Html.DisplayNameFor(model => model.Transactions)</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Transactions.Count == 0)
            {
                <tr>
                    <td>No transactions has been yet performed.</td>
                </tr>
            }
            else
            {
                foreach (var item in (IList<TransactionModel>)Model.Transactions)
                {
                    <tr>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => item.TransactionId)</dt>
                                <dd>@Html.DisplayFor(model => item.TransactionId)</dd>

                                <dt>@Html.DisplayNameFor(model => item.Amount)</dt>
                                <dd>@Html.DisplayFor(model => item.Amount)</dd>

                                <dt>@Html.DisplayNameFor(model => item.RelatedAccountNumber)</dt>
                                <dd>@Html.DisplayFor(model => item.RelatedAccountNumber)</dd>

                                <dt>@Html.DisplayNameFor(model => item.TransactionDate)</dt>
                                <dd>@Html.DisplayFor(model => item.TransactionDate)</dd>

                                <dt>@Html.DisplayNameFor(model => item.TransactionType)</dt>
                                <dd>@Html.DisplayFor(model => item.TransactionType.TransactionTypeName)</dd>

                                <dt>@Html.DisplayNameFor(model => item.Description)</dt>
                                <dd>@Html.DisplayFor(model => item.Description)</dd>
                            </dl>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div>
        @Html.ActionLink("‹ Back to account", "Details", "Account", new { accountId = @Model.AccountId }, new { @class = "btn btn-default" })
    </div>
</div>