﻿/*
    File: client.less
    Desc: Stylesheet for 'Client' view.
*/

@max-table-width: 800px;
@max-details-table-width: 600px;

.clients-table {
    max-width: @max-table-width;

    th, td {
        text-align: center;
    }
}

.client-details-table {
    max-width: @max-details-table-width;
    margin-left: 0 !important;
}

.btn-add-address {
    margin: 15px 0;
}