﻿/*
    File: header-navbar.less
    Desc: Styles header navigation bar.
*/

@main-color: #3F9B0A;
@side-color: #fff;

.bordered {
    border: 1px solid @main-color;
}

.navbar-inverse {
    background-color: @side-color;
    border-color: @main-color;

    .navbar-brand {
        color: @main-color;

        &:hover, &:focus {
            color: @side-color;
            background-color: @main-color;
        }
    }

    .navbar-nav li a {
        color: @main-color;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;

        &:hover, &:focus {
            background-color: @main-color;
            color: @side-color;
        }
    }

    .navbar-toggle {
        border-color: @main-color;

        .icon-bar {
            background-color: @main-color;
        }

        &:hover, &:focus {
            background-color: @main-color;

            .icon-bar {
                background-color: @side-color;
            }
        }
    }

    .navbar-collapse {
        border-color: @main-color;
    }
}