﻿/*
    File: styles.less
    Desc: Main stylesheet.
*/

@import 'header-navbar';
@import 'client';

@main-color: #3f9B0a;
@side-color: #fff;
@delete-btn-color: #ff0000;

a {
    color: @main-color;

    &:hover {
        color: @main-color;
    }
}

hr {
    border-color: @main-color;
    opacity: 0.5;
}

/* Content styles */

.content-centered {
    margin: 0 auto;
}

.bordered {
    border: 1px solid @main-color;
    border-radius: 0px;
}

.btn {
    .bordered;
    min-width: 100px;
    padding: 10px;
    cursor: pointer;
    background-color: @side-color;
    color: @main-color;

    &:hover {
        background-color: @main-color;
        color: @side-color;
        text-decoration: none;
    }
}

.btn-delete {
    color: @delete-btn-color;
    border-color: @delete-btn-color;

    &:hover {
        background-color: @delete-btn-color;
        border-color: @delete-btn-color;
    }
}

.table-responsive {
    margin-top: 20px;
    border: none;
}

.table {
    .content-centered;

    th, td {
        vertical-align: middle !important;
    }
}

/* Index content styles */

.content-menu {
    max-width: 300px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;

    .menu-item {
        .bordered;
        display: block;
        min-width: 225px;
        padding: 15px 0;
        margin-bottom: 20px;
        cursor: pointer;
        background-color: @side-color;
        color: @main-color;

        &:hover {
            background-color: @main-color;
            color: @side-color;
            text-decoration: none;
        }
    }
}
