﻿
@{
    ViewBag.Title = "SimpleBankApp › About";
}

<div class="text-centered">
    <h2>@ViewBag.Title</h2>
    <hr />
    <h3>@ViewBag.Message</h3>

    <p>Author: Piotr Gawłowski</p>
    <p>E-mail: <a href="mailto:piotr.gawlowski@icloud.com">piotr.gawlowski@icloud.com</a></p>
</div>
