﻿@model IEnumerable<SimpleBankApp.Models.ClientModel>

@{
    ViewBag.Title = "SimpleBankApp › Home Page";
}

<div class="content-menu">
    @Html.ActionLink("Display clients ›", "Index", "Client", null, new { @class = "menu-item" })
    @Html.ActionLink("Display accounts ›", "Index", "Account", null, new { @class = "menu-item" })
    @Html.ActionLink("About", "About", "Home", new { @class = "menu-item" })
</div>