﻿@using SimpleBankApp.Models
@model SimpleBankApp.Models.ClientModel

@{
    ViewBag.Title = "SimpleBankApp › Client's details";
}

<h2>› Client:  @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.Surname)</h2>

<div>
    <hr />
    <h4>Details</h4>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ClientId)</dt>
        <dd>@Html.DisplayFor(model => model.ClientId)</dd>

        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Surname)</dt>
        <dd>@Html.DisplayFor(model => model.Surname)</dd>

        <dt>@Html.DisplayNameFor(model => model.Pesel)</dt>
        <dd>@Html.DisplayFor(model => model.Pesel)</dd>

        <dt>@Html.DisplayNameFor(model => model.Phones)</dt>
        @foreach (var phone in Model.Phones)
        {
            <dd>@Html.DisplayFor(model => phone.PhoneType.PhoneTypeName)<span>:</span> @Html.DisplayFor(model => phone.PhoneNumber)</dd>
        }

        <dt>@Html.DisplayNameFor(model => model.Addresses)</dt>
        <dd>
            <div class="table-responsive">
                <table class="table table-striped client-details-table">
                    <tbody>
                        @for (int i = 0; i < Model.Addresses.Count; i++)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(model => Model.Addresses[i].City)
                                    @Html.DisplayFor(model => Model.Addresses[i].Street)
                                    @Html.DisplayFor(model => Model.Addresses[i].HouseNum)<span>&#47;</span>@Html.DisplayFor(model => Model.Addresses[i].ApartmentNum),
                                    @Html.DisplayFor(model => Model.Addresses[i].PostalCode) @Html.DisplayFor(model => Model.Addresses[i].Post)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit ›", "EditAddress", new { addressId = Model.Addresses[i].AddressId })
                                    @if (i > 0)
                                    {
                                        @Html.ActionLink("Delete ›", "RemoveAddress", new { addressId = Model.Addresses[i].AddressId })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </dd>
        <dd>@Html.ActionLink("Add new address ›", "AddNewAddress", new { clientId = Model.ClientId }, new { @class = "btn btn-default btn-add-address" })</dd>
    </dl>

    <div>@Html.ActionLink("Edit ›", "EditClient", new { clientId = Model.ClientId }, new { @class = "btn btn-default" })</div>

    <hr />

    <h4>@Html.DisplayNameFor(model => model.Accounts)</h4>

    <div class="table-responsive">
        <table class="table table-striped client-details-table">
            <thead>
                <tr>
                    <th scope="col">Details</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Accounts.Count == 0)
                {
                    <tr>
                        <td>No accounts are assigned to this client.</td>
                    </tr>
                }
                else
                {
                    foreach (var item in (IList<ClientsAccountModel>)Model.Accounts)
                    {
                        <tr>
                            <td>
                                <dl class="dl-horizontal">
                                    <dt>@Html.DisplayNameFor(model => item.Role)</dt>
                                    <dd>@Html.DisplayFor(model => item.Role.RoleName)</dd>

                                    <dt>@Html.DisplayNameFor(model => item.AccountId)</dt>
                                    <dd>@Html.DisplayFor(model => item.AccountId)</dd>

                                    <dt>@Html.DisplayNameFor(model => item.AccountNumber)</dt>
                                    <dd>@Html.DisplayFor(model => item.AccountNumber)</dd>

                                    <dt>@Html.DisplayNameFor(model => item.AccountBalance)</dt>
                                    <dd>@Html.DisplayFor(model => item.AccountBalance)</dd>

                                    <dt>@Html.DisplayNameFor(model => item.Currency)</dt>
                                    <dd>@Html.DisplayFor(model => item.Currency.CurrencyName)<span>, </span>@Html.DisplayFor(model => item.Currency.CurrencyShort)</dd>

                                    <dt>@Html.DisplayNameFor(model => item.ProductType)</dt>
                                    <dd>@Html.DisplayFor(model => item.ProductType.ProductTypeName)<span>, </span>@Html.DisplayFor(model => item.ProductType.ProductTypeShort)</dd>

                                    <dt>@Html.DisplayNameFor(model => item.OpeningDate)</dt>
                                    <dd>@Html.DisplayFor(model => item.OpeningDate)</dd>

                                    <dt>@Html.DisplayNameFor(model => item.ClosureDate)</dt>
                                    <dd>
                                        @if (@item.ClosureDate == DateTime.MinValue)
                                        {
                                            <span>-</span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => item.ClosureDate)
                                        }
                                    </dd>

                                    <dt>@Html.DisplayNameFor(model => item.IsActive)</dt>
                                    <dd>@Html.DisplayFor(model => item.IsActive)</dd>
                                </dl>
                            </td>
                            <td>
                                @Html.ActionLink("Transactions ›", "Transactions", "Account", new { accountId = item.AccountId }, null)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div>
        @Html.ActionLink("‹ Back to List", "Index", "Home", new { @class = "btn btn-default" })
    </div>
</div>