﻿@model SimpleBankApp.Models.ClientModel

@{
    ViewBag.Title = "SimpleBankApp › Edit client";
}

<h2>Edit client: @Model.FirstName @Model.Surname</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pesel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pesel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pesel, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Addresses -->
        @for (int i = 0; i < @Model.Addresses.Count; i++)
        {
            <div class="col-md-offset-1 col-md-11">
                @if (@Model.Addresses.Count > 1)
                {
                    <h4>Address @(i + 1)</h4>
                }
                else
                {
                    <h4>Address</h4>
                }
            </div>

            @Html.HiddenFor(model => model.Addresses[i].AddressId, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="form-group">
                @Html.LabelFor(model => model.Addresses[i].Street, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Addresses[i].Street, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Addresses[i].Street, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Addresses[i].HouseNum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Addresses[i].HouseNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Addresses[i].HouseNum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Addresses[i].ApartmentNum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Addresses[i].ApartmentNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Addresses[i].ApartmentNum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Addresses[i].PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Addresses[i].PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Addresses[i].PostalCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Addresses[i].Post, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Addresses[i].Post, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Addresses[i].Post, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Addresses[i].City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Addresses[i].City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Addresses[i].City, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <!-- Phones -->
        @for (int i = 0; i < @Model.Phones.Count; i++)
        {
            <div class="col-md-offset-1 col-md-11">
                @if (@Model.Phones.Count > 1)
                {
                    <h4>Phone @(i + 1)</h4>
                }
                else
                {
                    <h4>Phone</h4>
                }
            </div>

            @Html.HiddenFor(model => model.Phones[i].PhoneId, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="form-group">
                @Html.LabelFor(model => model.Phones[i].PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phones[i].PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phones[i].PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phones[i].PhoneType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Phones[i].PhoneType.PhoneTypeName, (IEnumerable<SelectListItem>)ViewBag.PhoneTypeName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phones[i].PhoneType.PhoneTypeName, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("‹ Back to List", "Index", "Client", new { @class = "btn btn-default" })
    @Html.ActionLink("‹ Account details", "Details", "Client", new { clientId = @Model.ClientId }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}