﻿@model IEnumerable<SimpleBankApp.Models.ClientModel>

@{
    ViewBag.Title = "SimpleBankApp › Clients";
}

<h2 class="text-center">Clients</h2>
<hr />
<div class="table-responsive">
    <p class="text-center">@Html.ActionLink("Add new client ›", "AddNewClient", "Client")</p>
    <table class="table table-striped clients-table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.ClientId)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Surname)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Pesel)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ClientId)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pesel)</td>
                    <td>
                        @Html.ActionLink("Details ›", "Details", new { clientId = item.ClientId })
                        @Html.ActionLink("Edit ›", "EditClient", new { clientId = item.ClientId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>