﻿@model SimpleBankApp.Models.AddressModel

@{
    ViewBag.Title = "SimpleBankApp › Remove address";
}

<h3>Are you sure you want to remove this address?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.AddressId)</dt>
        <dd>@Html.DisplayFor(model => model.AddressId)</dd>

        <dt>@Html.DisplayNameFor(model => model.ClientId)</dt>
        <dd>@Html.DisplayFor(model => model.ClientId)</dd>

        <dt>@Html.DisplayNameFor(model => model.Street)</dt>
        <dd>@Html.DisplayFor(model => model.Street)</dd>

        <dt>@Html.DisplayNameFor(model => model.HouseNum)</dt>
        <dd>@Html.DisplayFor(model => model.HouseNum)</dd>

        <dt>@Html.DisplayNameFor(model => model.ApartmentNum)</dt>
        <dd>@Html.DisplayFor(model => model.ApartmentNum)</dd>

        <dt>@Html.DisplayNameFor(model => model.PostalCode)</dt>
        <dd>@Html.DisplayFor(model => model.PostalCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.Post)</dt>
        <dd>@Html.DisplayFor(model => model.Post)</dd>

        <dt>@Html.DisplayNameFor(model => model.City)</dt>
        <dd>@Html.DisplayFor(model => model.City)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("‹ Back to client's details", "Details", "Client", new { clientId = @Model.ClientId }, new { @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-delete" />
        </div>
    }
</div>
